<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    </head>
    <body>
        <div id=root>
            <header>
                <input @keyup.enter="search()" type="text" name="" value="" v-model="search_text">
                <button @click="search()" type="button" name="button">Invia</button>
            </header>
            <main>
                <div class="item" v-for="item in search_array">
                    <div class="top">
                        <img :src="'https://image.tmdb.org/t/p/original' + item.poster_path" alt="">
                    </div>
                    <div class="bottom">

                        <p v-if="item.title!=undefined">{{item.title}}</p>
                        <p v-else>{{item.name}}</p>

                        <p  v-if="item.original_title!=undefined">{{item.original_title}}</p>
                        <p v-else>{{item.original_name}}</p>

                        <div class="flags" v-if="flags_array.includes(item.original_language)">
                            <img :src=" 'img/flags/' + item.original_language + '-flag.png'" alt="">
                        </div>
                        <p v-else>{{item.original_language}}</p>
                        <p>{{item.vote_average}}</p>
                        <div class="stars">
                            <i :class="Math.floor((item.vote_average / 10)*5)>=1? 'fas': 'far'" class="fa-star"></i>
                            <i :class="Math.floor((item.vote_average / 10)*5)>=2? 'fas': 'far'" class="fa-star"></i>
                            <i :class="Math.floor((item.vote_average / 10)*5)>=3? 'fas': 'far'" class="fa-star"></i>
                            <i :class="Math.floor((item.vote_average / 10)*5)>=4? 'fas': 'far'" class="fa-star"></i>
                            <i :class="Math.floor((item.vote_average / 10)*5)>=5? 'fas': 'far'" class="fa-star"></i>
                        </div>
                        <!-- <p>{{Math.floor((item.vote_average / 10)*5)}}</p> -->
                    </div>
                </div>
            </main>
        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
